<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<title>Bootstrap Image Gallery</title>
<meta name="description" content="Image Gallery">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.css">
<link rel="stylesheet" href="css/demo.css">
</head>
<body>
	<div class="container">
		<!-- The container for the list of example images -->
		<div id="links">
			<a th:each="img : ${images}" th:href="|/download?id=${img.fileName}|"
				href="/download?id=f933e96a-669a-417a-ab59-a16ddb266bca"
				data-gallery=""> <img
				th:src="|/download?id=${img.fileName}|" alt="test" width="150"></a>
		</div>
		<br>
	</div>

	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false" data-start-slideshow="true">
		<!-- The container for the modal slides -->
		<div class="slides"></div>
		<!-- Controls for the borderless lightbox -->
		<h3 class="title"></h3>
		<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a> <a
			class="play-pause">&nbsp;</a>
		<ol class="indicator"></ol>
		<!-- The modal dialog, which will be used to wrap the lightbox content -->
		<div class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" aria-hidden="true">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body next"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left prev">
							<i class="glyphicon glyphicon-chevron-left"></i> Previous
						</button>
						<button type="button" class="btn btn-primary next">
							Next <i class="glyphicon glyphicon-chevron-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.blueimp-gallery.min.js"></script>
	<script src="js/bootstrap-image-gallery.js"></script>
	<!-- script src="js/demo.js"></script -->
	
	<script th:inline="javascript">
      /*<![CDATA[*/	    
         var listSize = /*[[${listSize}]]*/ 'List Size';
         $('#blueimp-gallery')
         .on('slide', function (event, index, slide) {
             if(index >= (listSize-1)) {
             	console.log("!!!! Ende der Show - RELOAD !!!!" + event + "|" + index + "|" + slide)
             	setTimeout(location.reload(), 4000);
             }
         })
       /*]]>*/
	</script>
	
	
</body>
</html>
